<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Desafio 5</title>
</head>

<body>
  <form class='form col-4 mx-auto mt-4' action="/products" method="post">
    <h2>Productos</h2>
    <h3 class='title'> Agregá un producto <h3>
        <div class="form-floating mb-3 fs-6">
          <input type="text" name="title" class="form-control" id="floatingInput" placeholder="Batman Begins">
          <label for="title">Título</label>
        </div>
        <div class="form-floating mb-3 fs-6">
          <input type="number" name="price" class="form-control" id="floatingInput" placeholder="Precio">
          <label for="price">Precio</label>
        </div>
        <div class="form-floating mb-3 fs-6">
          <input type="text" name='thumbnail' class="form-control" id="floatingInput" placeholder="Imágen">
          <label for="thumbnail">Imágen</label>
          <input type="submit" value="Agregar" class="btn btn-primary mt-3 mr-1">
        </div>
        <a href="/products" class=" btn btn-outline-primary ml-1 mt-3 ml-1">Ver listado de productos</a>
  </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>