<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Desafio Websockets</title>
</head>

<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark m-auto">
        <a class="navbar-brand" href="#">MiTienda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account">Mi cuenta</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
    <div class="container mt-3">
        <h2 class="alert alert-success d-flex justify-content-between">
            Bienvenido@ <%= name %>
                <a class="btn btn-dark m-0 p-3" href="/logout" role="button">Cerrar Sesión</a>
        </h2>
    </div>
    <div class="container">
        <section class="bg-light mt-5 p-3" style="border-radius: 10px;">
            <div class="container text-center">
                <div class="mb-4">
                    <h2>Seleccioná los productos que quieras</h2>
                </div>
            </div>
            <!-- Aqui se renderea la plantilla de productos -->
            <div id="products" class="mt-5 container text-center" style="border-radius: 10px;"></div>
        </section>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- EJS -->
    <script src="ejs.min.js"></script>
    <!-- Own JS -->
    <script src="main.js"></script>
</body>

</html>